   .container {
      display: flex;
      justify-content: center;  /* 중앙 정렬이 더 깔끔함 */
      gap: 40px;  /* 간격 줄이기 (원래 20px → 10px) */
      flex-wrap: wrap;
    }

    .category-box {
      background: white;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 10px;
      width: 15%; /* 4칸이면 25%보다 살짝 작게 */
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      margin-top: 30px;
    }

    .category-box h3 {
      font-size: 15px;
      margin-bottom: 10px;
      padding-left: 8px;
    }

    .category-box ul {
      list-style: none;
      padding-left: 0;
    }

    .category-box li {
      margin-bottom: 6px;
      font-size: 14px;
    }

    .category-box a {
      color: #1e90ff;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .category-box a:hover {
      color: #ff6600;
      text-decoration: underline;
    }

 .section {
      max-width: 1000px;
      margin: auto;
      padding: 40px 20px;
    }

    .section h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .title {
     
      text-align: center;
    }
    .desc {
      text-align: center;
    }


    .recommend-card {
      max-width: 400px;
      background: #fff9f0;
      margin: auto;
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      margin-bottom: 50px;
      transition: transform 0.2s;
    }
    .recommend-card:hover {
    transform: translateY(-5px);  /* 수직 방향(Y축)으로 5픽셀 위로 이동 */
    }

  .recommend-card img {
  width: auto;                 /* 가로는 자동으로 */
  height: 60px;                /* 세로 기준 고정 (원래 80px → 60px) */
  max-width: 100px;            /* 너무 클 경우 제한 */
  margin-right: 20px;
  object-fit: contain;         /* 비율 유지하면서 깔끔하게 */
}

    .recommend-card .desc{
      margin-top: 10px;
       font-size: 15px;
      color: #333;
    }



  .ai-section {
    padding: 40px;
    text-align: center;
  }

  .ai-section h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .ai-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .ai-card {
    width: 140px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px 10px;
    text-align: center;
    transition: transform 0.2s;
  }

  .ai-card:hover {
    transform: translateY(-5px);  /* 수직 방향(Y축)으로 5픽셀 위로 이동 */
  }

  .ai-card img {
    width: 70px;
    height: 70px;
    object-fit: contain; /* 전체가 잘리거나 찌그러지지 않고 */
    margin-bottom: 12px;
  }

  .ai-card .label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

 